/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
}

.active {
  display: block;
}

.dropdown li {
  padding: 10px 16px;
}

.dropdown li:first-child {
  padding: 20px 16px 10px 16px;
}

.dropdown li:last-child {
  padding: 10px 16px 20px 16px;
}

/* header */
/* nav */
nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  padding: 15px 12px;
}

nav > ul > li:first-child {
  padding: 15px 10px 15px 0;
}

nav > ul > li:last-child {
  padding: 15px 0 15px 10px;
}

nav a {
  text-decoration: none;
  color: rgb(139, 149, 158);
}

nav a:focus,
nav a:hover,
nav a:active {
  color: rgb(25, 28, 31);
}

.logo {
  display: inline-block;
}

.logo svg {
  fill: url("#linearGradient");
  color: white;
}

.personal a {
  color: rgb(25, 28, 31);
}

.business {
  margin-right: auto;
}

.accounts,
.products,
.company,
.help,
.language {
  position: relative;
}

.language > a {
  /* vertical-align: middle; */
}

.arrow {
  display: inline-block;
  font-size: 12px;
  /* line-height: 19px; */
}

.language:hover .arrow-down {
  display: none;
}

.arrow-up {
  display: none;
}

.language:hover .arrow-up {
  display: inline-block;
}

.app a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(235, 0, 141);
  color: rgb(255, 255, 255);
}

.app a:focus,
.app a:hover,
.app a:active {
  background-color: rgb(210, 0, 126);
  color: rgb(255, 255, 255);
}

/* main */
/* title */
h1 {
  border: 1px solid blue;
}

p {
  border: 1px solid red;
}


/* width: 992px > go hamburger menu */
